.row-header{
    margin:0px auto;
    padding: 0px auto;
}
.row-content{
    margin-top: 0px auto;
    padding : 50px 0px 50 px 0px;
    border-bottom:1px ridge;
    min-height:400px;
}

.footer{
    background-color:rgb(228, 192, 146);
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron{
    padding: 70px 30px 70px 30px;
    margin:0px auto;
    background: rgba(231, 89, 23, 0.822);
    color:floralwhite;
}
.address{
    font-size:80%;
    margin:0px;
    color: black;;
}